---
import { getCollection } from "astro:content";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import TopMenuCard from "../components/TopMenuCard.astro";
import TopMenuEmbedCard from "../components/TopMenuEmbedCard.astro";
import RoundedButton from "../components/RoundedButton.astro";
import NewsCard from "../components/NewsCard.astro";
import Heading from "../components/Heading.astro";
import BackToTopButton from "../components/BackToTopButton.astro";
// import Header_DropDown from "../components/Header_DropDown";
import HeaderWrapper from "../components/HeaderWrapper.astro";
import branding from "../assets/branding.png";
import branding_mobile from "../assets/branding_mobile.png";
import { Image } from "astro:assets";

const allNews = await getCollection("news");
allNews.reverse();

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}');
---
<BaseLayout pageTitle="Astroth">
  <BackToTopButton />
  <div class="w-full h-auto">
    <Image src={branding} alt="" class="w-full hidden md:block" priority />
    <Image src={branding_mobile} alt="" class="w-full block md:hidden" priority />
    <a href="/products" class="block xl:hidden relative w-64 mx-auto py-4 px-10 text-white hover:text-black text-3xl text-center font-outfit bg-black hover:bg-white border-1 border-white hover:border-black border-style-solid rounded-full cursor-pointer transition-all duration-300 ease-in-out hover:scale-110">PRODUCTS</a>
    <a href="/products" class="hidden xl:block absolute w-64 left-10% 2xl:left-12% bottom-10% 2xl:bottom-18% py-4 px-10 text-white hover:text-black text-3xl text-center font-outfit bg-black hover:bg-white border-1 border-white hover:border-black border-style-solid rounded-full cursor-pointer transition-all duration-300 ease-in-out hover:scale-110">PRODUCTS</a>
  </div>
  <div class="pt-20"/>

  <Heading text="NEWS" />
  <div class="md:flex justify-center gap-8 px-6 overflow-x-auto mb-1">
    {
      allNews.map((news) => (
        <NewsCard
          title={news.data.title}
          date={news.data.date}
          tag={news.data.tag}
          image={images[news.data.image]()}
          href={`/news/${news.slug}`}
        />
      ))
    }
  </div>

  <a href="/news" class="grid place-items-center">
    <RoundedButton>VIEW MORE</RoundedButton>
  </a>

  <HeaderWrapper client:load/>
  

  <!-- Main Content Grid -->
  <div class="container mx-auto px-6 py-12 mt-4">
    <div class="grid grid-cols-1 gap-8 mb-12">
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12"> -->
      <!-- Products Card -->
      <TopMenuCard
        title="PRODUCTS"
        subtitle="作品一覧"
        backgroundImage={images['/src/assets/ficus/ficus_logo.svg']()}
        href="/products"
      />

      <!-- World Guide Card -->
      <!-- <TopMenuCard
        title="WORLD-GUIDE"
        subtitle="世界設定資料"
        backgroundImage="/src/assets/ficus/ficus_logo.svg"
        href="/news"
      /> -->
    <!-- </div> -->

    <!-- Social Media Section -->
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-8"> -->

      <!-- <a href="https://www.youtube.com/@RickAstleyYT">
        <TopMenuEmbedCard title="YouTube" subtitle="公式チャンネル" >
          <iframe
          class="aspect-video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dQw4w9WgXcQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        </TopMenuEmbedCard>
      </a> -->
    </div>
    
  </div>
</BaseLayout>
