---
import { Image } from 'astro:assets';
import fv1 from '/public/assets/ficus/mutsuri.png';
import fv2 from '/public/assets/ficus/ibu.png';
import fv3 from '/public/assets/ficus/jala.png';
import fv4 from '/public/assets/ficus/nite.png';
import fv5 from '/public/assets/ficus/deer.png';
import fv6 from '/public/assets/ficus/dasi.png';
import fv7 from '/public/assets/ficus/fetz.png';
---

<div class="swiper">
  <div class="swiper-wrapper pb-8">
    <div class="swiper-slide flex">
      <Image src={fv1} width={256} alt="睦吏" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl">むつり</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">主人公。女神の導きで"美"に目覚め、決起を呼びかけるが、当然の如く投獄されてしまう。<br>そこで出逢った蛇羅や仁弖と共に監獄を脱し、 " 美 " の " 表現の自由 " を求める反体制組織を設立。<br>しかしそれは、血みどろの、正邪ゆらめく、謀略はびこる戦いの幕開けに過ぎなかった。</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv2} width={256} alt="波々 衣撫" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl">はば・いぶ</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">何を考えているかわからない、不思議ちゃん系の女の子。<br>路地裏で強姦されている所を、睦吏たちが助け、反体制組織に引き入れる。<br>特異な体質であり、しかもそれは体制を倒す鍵だと言うが...... !?</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv3} width={256} alt="亞國 蛇羅" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl">あぐに・じゃら</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">荒れた口調で、鞭を変幻自在に振るう男。<br>睦吏と牢屋仲間になり、唆して共に脱獄する。<br>体制に復讐する為の手段として、ロウソクや鞭打ちに固執するが、その真意とは――</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv4} width={256} alt="一之瀬 仁弖" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl">いちのせ・にて</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">武者口調で、刀や剣、銃を器用に操る男。本人は「侍」と呼ばれると怒る。<br>睦吏と牢屋仲間になり、唆して共に脱獄する。<br>戦闘で無類の強さを誇る一方で、体制側の管理番号 13 番に固執するが、その理由とは――</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv5} width={256} alt="シカ" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl">しか</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">人間と鹿のハーフ。睦吏を父と呼び慕う。<br>睦吏と共に収監されるが、脱獄で大きな役割を果たす。<br>「人間を知りたい」と言い、睦吏ら人間が " 美 " と " 表現 " に固執する理由を追い求める。</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv6} width={256} alt="管理番号13番" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl font-rajdhani font-bold">Control No. 13</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">体制側の一番隊、斬り込み隊長。メイド服を着用している。<br>如何なる状況でも厳しい表情を崩さず、大剣を振るって敵を成敗する。<br>だが、仁弖を見てから、一つの葛藤が自分の内に湧き上がるのを感じていた――</p>
      </div>
    </div>
    <div class="swiper-slide flex">
      <Image src={fv7} width={256} alt="フェッツ" />
      <div class="flex-col">
        <p class="p-4 m-0 text-4xl font-rajdhani font-bold">Mavie Fetz</p>
        <p class="p-4 m-0 text-2xl">演: Coming Soon...</p>
        <p class="p-4 m-0">体制側の第 3 代総帥。<br>本人は武官出身であるため、戦闘能力に優れており、総帥にもかかわらず突出しがちである。<br>管理番号 13 番から崇敬される良き上司であったが、脱獄をきっかけにその関係性は変化する――</p>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, EffectFade } from "swiper/modules";
  import "swiper/css/bundle";

  export const swiperConfig = {
    modules: [Navigation, Pagination, EffectFade],
    loop: true,

    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
    },

    effect: "fade",
    fadeEffect: {
      crossFade: true,
    },
    speed: 500,

    scrollbar: {
      el: ".swiper-scrollbar",
    },
  };

  const swiper = new Swiper(".swiper", swiperConfig);
</script>