---
import { Image } from "astro:assets";
import astroth_logo from "../assets/astroth_logo.png"
import astroth_horizontal from "../assets/astroth_horizontal.png"
import twitter from "../assets/twitter.svg";
import misskey from "../assets/misskey.svg";
import github from "../assets/github.png";

interface Props {
    links: { href: string; text: string }[];
}
const { links } = Astro.props;
---

<header class="position-fixed flex justify-between w-full z-9999 py-2 m-0 backdrop-blur-[2px]">
  <div class="flex items-center gap-4">
    <a href="/" class="ml-4">
      <Image src={astroth_logo} alt="" class="block md:hidden p-2 w-8 hover:opacity-80" />
      <Image src={astroth_horizontal} alt="" class="hidden md:block p-2 w-30 hover:opacity-80 " />
    </a>
    {
      links.map((link) => (
        <a
          href={link.href}
          class="text-white text-base tracking-wide font-outfit font-bold hover:text-gray-300 transition duration-300 "
        >
          {link.text}
        </a>
      ))
    }
  </div>

  <div class="flex px-4 items-center gap-6">
    <a href="https://twitter.com/Astroth_soft">
      <Image src={twitter} alt="" class="w-4 h-4 md:w-8 md:h-8 hover:opacity-60" />
    </a>
    <a href="https://misskey.io/@astroth_soft">
      <Image src={misskey} alt="" class="w-4 h-4 md:w-8 md:h-8 hover:opacity-60 invert-100" />
    </a>
    <a href="https://github.com/astroth-soft">
      <Image src={github} alt="" class="w-4 h-4 md:w-8 md:h-8 hover:opacity-60" />
    </a>
  </div>
</header>
