---
export interface Props {
    href: string;
    image: string;
    date: string;
    tag: string;
    title: string;
}


const { href, image, date, tag, title } = Astro.props;
---

<a
    href={href}
    class="group"
>
    <div class="mb-8 mx-auto md:mx-0 w-64 aspect-[1.91/1] overflow-hidden">
        <img
            src={image}
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110 "
        />
    </div>
    <div class="w-64 h-32 bg-black bg-opacity-80">
        <div class="flex gap-4 px-4 h-8 items-center">
            <p class="text-white font-outfit">{date}</p>
            <div>
                <p
                    class="text-white text-3 px-1 border-1 border-white border-style-solid font-outfit"
                >
                    {tag}
                </p>
            </div>
        </div>
        <p class="text-white px-4 w-64">{title}</p>
    </div>
</a>
