---
interface Props {
  bgColor?: string;
  textColor?: string;
  borderColor?: string;
  hoverBgColor?: string;
  hoverTextColor?: string;
  hoverBorderColor?: string;
  isScaleOnHover?: boolean;
  onClick?: () => void;
}

const {
  bgColor = "bg-black",
  textColor = "text-white",
  borderColor = "border-white",
  hoverBgColor = "hover:bg-white",
  hoverTextColor = "hover:text-black",
  hoverBorderColor = "hover:border-black",
  isScaleOnHover = true,
  isJapanese = false,
} = Astro.props;
---

<button
    type="button"
    class={`py-4 px-10 text-lg font-medium ${isJapanese ? 'font-ibm' : 'font-outfit'} ${textColor} ${bgColor} rounded-full border ${borderColor} cursor-pointer transition-all duration-300 ease-in-out ${hoverBgColor} ${hoverTextColor} ${hoverBorderColor} ${isScaleOnHover ? 'hover:scale-110' : ''}`}
    onclick="{Astro.props.onClick ? Astro.props.onClick() : ''}"
>
    <slot />
</button>