---
import BaseLayout_Ficus from "../../../layouts/BaseLayout_Ficus.astro";
import "../../../styles/global.css";
import BackToTopButton from "../../../components/BackToTopButton.astro";
import FicusNewsContent from "../../../components/FicusNewsContent.astro";
import ficus_logo from "../../../assets/ficus/ficus_logo.svg";
import { getImage, Picture } from "astro:assets";
import FicusCharacterIntroduction from "../../../components/FicusCharacterIntroduction";

const characters = [
  {
    name: "睦　吏",
    nameEn: "mutsuri",
    sex: "male",
    image: "/src/assets/ficus/mutsuri.png",
    voice: "つ ​ ​ ば ​ ​ き",
    voice_sample_path: ["mutsuri_1", "mutsuri_2"],
    description:
      `主人公。女神の導きで " 美 " に目覚め、\n決起を呼びかけるが、当然の如く投獄されてしまう。\nそこで出逢った蛇羅や仁弖と共に監獄を脱し、\n" 美 " の " 表現の自由 " を求める反体制組織を設立。\nしかしそれは、血みどろの、正邪ゆらめく、\n謀略はびこる戦いの幕開けに過ぎなかった。`,
  },
  {
    name: "波々 衣撫",
    nameEn: "ibu",
    sex: "female",
    image: "/src/assets/ficus/ibu.png",
    voice: "伊 倉 え る",
    va_link: "https://twitter.com/ikuraeru",
    voice_sample_path: ["ibu_1", "ibu_2"],
    description:
      "何を考えているかわからない、不思議ちゃん系の女の子。\n路地裏で強姦されている所を、睦吏たちが助け、\n反体制組織に引き入れる。\n特異な体質であり、\nしかもそれは体制を倒す鍵だと言うが...... !?",
  },
  {
    name: "亞國 蛇羅",
    nameEn: "jala",
    sex: "male",
    image: "/src/assets/ficus/jala.png",
    voice: "ド 白 茄 子",
    voice_sample_path: ["jala_1", "jala_2"],
    description:
      "荒れた口調で、鞭を変幻自在に振るう男。\n睦吏と牢屋仲間になり、唆して共に脱獄する。\n体制に復讐する為の手段として、\nロウソクや鞭打ちに固執するが、\nその真意とは――",
  },
  {
    name: "一之瀬 仁弖",
    nameEn: "nite",
    sex: "male",
    image: "/src/assets/ficus/nite.png",
    voice: "s o p h i a",
    voice_sample_path: ["nite_1", "nite_2"],
    description:
      "武者口調で、刀や剣、銃を器用に操る男。\n本人は「侍」と呼ばれると怒る。\n睦吏と牢屋仲間になり、唆して共に脱獄する。\n戦闘で無類の強さを誇る一方で、\n体制側の管理番号 13 番に固執するが、\nその理由とは――",
  },
  {
    name: "シ　カ",
    nameEn: "deer",
    sex: "male",
    image: "/src/assets/ficus/deer.png",
    voice: "TAKESHI",
    voice_sample_path: ["deer_1", "deer_2"],
    description:
      '人間と鹿のハーフ。睦吏を父と呼び慕う。\n睦吏と共に収監されるが、脱獄で大きな役割を果たす。\n「人間を知りたい」と言い、\n睦吏ら人間が " 美 " を追求する理由を追い求める。',
  },
  {
    name: "管理番号 13 番",
    nameEn: "dasi",
    sex: "female",
    image: "/src/assets/ficus/dasi.png",
    voice: "神在ほたる",
    va_link: "https://twitter.com/hotaoc10",
    voice_sample_path: ["dasi_1", "dasi_2"],
    description:
      "体制側の一番隊、斬り込み隊長。メイド服を着用している。\n如何なる状況でも厳しい表情を崩さず、\n大剣を振るって敵を成敗する。\nだが、仁弖を見てから、\n一つの葛藤が自分の内に湧き上がるのを感じていた――",
  },
  {
    name: "マビー・フェッツ",
    nameEn: "fetz",
    sex: "female",
    image: "/src/assets/ficus/fetz.png",
    voice: "涼 貴 　 涼",
    va_link: "https://twitter.com/bee_ryo",
    voice_sample_path: ["fetz_1", "fetz_2"],
    description:
      "体制側の第 3 代総帥。\n本人は武官出身であるため、戦闘能力に優れており、\n総帥にもかかわらず突出しがちである。\n管理番号 13 番から崇敬される良き上司であったが、\n脱獄をきっかけにその関係性は変化する――",
  },
];

const productInfo = [
  {
    label: "タイトル",
    value: "イチジクの葉",
    subValue: "-The Leaf of Ficus Caricature-",
  },
  { label: "ジャンル", value: "美学 ADV", subValue: "サウンドノベル" },
  { label: "ブランド", value: "Astroth" },
  { label: "レーティング", value: "18 歳以上" },
  {
    label: "発売予定日",
    subValue: "パッケージ版 : 2025 年 12 月 31 日",
    subsubValue: "DL 版 : 2026 年 01 月 01 日",
  },
  { label: "価　格", value: "1,500 円"},
  {
    label: "頒布場所",
    value: "C107 水曜日 南 j 28a",
    subValue: "philia 様 委託",
    link: "https://webcatalog-free.circle.ms/Circle/22024786"
  },
];

const earlyTrialInfo = [
  {
    label: "タイトル",
    value: "イチジクの葉",
    subValue: "-The Leaf of Ficus Caricature-",
    subsubValue: "先行体験版",
  },
  { label: "ジャンル", value: "美学 ADV?", subValue: "サウンドノベル" },
  { label: "ブランド", value: "Astroth" },
  { label: "レーティング", value: "全年齢" },
  { label: "プレイ時間", value: "約 1 時間"},
  {
    label: "発売日",
    value: "2025 年 12 月 27 日",
  },
  { label: "価　格", value: "0 円"},
];

const staffInfo = [
  { label: "原　作", value: ["阿頼耶未来希"] },
  { label: "脚　本", value: ["紅 坂 篤 樹"] },
  { label: "美　術", value: ["R ​ ​ ​ O ​ ​ ​ N", "N ​ E ​ N ​ E"] },
  { label: "音　楽", value: ["彩 峰 冬 総", "miporin"] },
  {
    label: "プログラム",
    value: [
      "彩 峰 黎 斗",
      "こんそめ大法官",
      "n ​ a ​ g ​ i",
    ],
  },
  { label: "スクリプト", value: ["彩 峰 黎 斗"] },
  { label: "テクニカルアドバイザー", value: ["Clover_Midori"] },
  { label: "広　報", value: ["N ​ E ​ N ​ E", "彩 峰 兼 続"] },
  { label: "プロデューサー", value: ["彩 峰 慶 次"] },
  { label: "監　督", value: ["彩 峰 鋼 一"] },
  { label: "製作総指揮", value: ["A ​ K ​ 4 ​ 7"] },
];

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/ficus/**/*.{jpeg,jpg,png,gif,svg}",
);

const optimizedCharacters = await Promise.all(characters.map(async (char) => {
  if (images[char.image]) {
    const imageModule = images[char.image]();
    const optimizedBackground = await getImage({src: imageModule, format: 'webp'})
    char.image = optimizedBackground.src;
  }
  return char;
}));
---

<BaseLayout_Ficus pageTitle="イチジクの葉 | Astroth">
  <BackToTopButton />
  <div class="flex justify-center">
    <Picture src={ficus_logo} alt="" class="w-full px-10" priority />
  </div>

  <p
    class="my-0 text-5xl md:text-7xl xl:text-9xl font-shippori font-extrabold flex justify-center fade-in"
  >
    <span>審美</span>
    <span class="m-0">、</span>
    <span class="text-[#fe4164]">開</span>
    <span>眼</span>
  </p>

  <div class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in" id="news" />

  <h2
      class="font-lobster text-black text-stroke-1 text-stroke-[#fe347e] text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="story"
    >
      <span class="flex border-3 border-[#4666ff] border-style-solid pl-4 rounded-l-2xl pr-4 rounded-r-2xl shadow-[0_0_1px_#fff,inset_0_0_1px_#fff,0_0_3px_#08f,0_0_10px_#08f]">
        <span class="">NEW</span>
        <span class="blinking-text-1">S</span>
      </span>
    </h2>
  
  <div class="w-full h-64 lg:w-60% mx-auto border-2 border-y-dark-1 border-l-[#207c3a] border-r-0 border-style-solid  overflow-y-scroll news-scrollbar" id="news-scroll">
    <FicusNewsContent date="2025/12/25" content="カウントダウンボイス「あと 6 日」を公開しました !" new_news={true} href="https://twitter.com/Astroth_soft/status/2004130009175212410" />
    <FicusNewsContent date="2025/12/25" content="衣撫のボイスサンプルを解禁しました !" new_news={true} href="#characters" />
    <FicusNewsContent date="2025/11/08" content="声優情報を解禁しました !" href="#characters" />
    <FicusNewsContent date="2025/11/08" content="管理番号 13 番のキービジュアルを解禁しました !" href="#characters" />
    <FicusNewsContent date="2025/11/07" content="C107 に philia 様のブースでの委託出展が決定しました !" href="https://twitter.com/Astroth_soft/status/1986791698736025850" />
    <FicusNewsContent date="2025/09/19" content="雙峰祭企画『コミックつくば ! 』へ出展します !" href="https://twitter.com/Astroth_soft/status/1969036282727936035" />
    <FicusNewsContent date="2025/09/13" content="スーパーゲ制デーに合わせて、 Twitter にて当ページを紹介しました !" href="https://twitter.com/Astroth_soft/status/1966517371419460039" />
    <FicusNewsContent date="2025/09/13" content="作品特設ページを開設しました !" />
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% h-auto font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-[#00fefc] text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="story"
    >
      <span class="flex border-3 border-[#ff6a00] border-style-solid pl-4 rounded-l-2xl pr-4 rounded-r-2xl shadow-[0_0_1px_#fff,inset_0_0_1px_#fff,0_0_3px_#ffa500,0_0_10px_#ffa500]">
        <span class="blinking-text-2 ">S</span>
        <span class="">TORY</span>
      </span>
    </h2>
    <p class="text-center text-2xl font-bold mx-2">
      ――俺は作りたいんだ !<br />誰もが、自己を表現できる<br
        class="block md:hidden"
      />世界をッ…… !
    </p>
    <p class="text-center mx-2">
      あらゆる " 表現 " が消し去られた、<br class="block md:hidden" />西暦 2030
      年の冬。<br />
      生きる目的を失った人間たちだったが、<br class="block md:hidden" />その中に
      " 表現 " 復活への希望の火が灯った。<br />
      主人公・<b>睦吏</b>は、女神に導かれ、<br
        class="block md:hidden"
      />睦吏を父と慕う人間とシカのハーフや、<br />
      " 表現 " のある世界を望む同志・<b>蛇羅</b>、<b>仁弖</b>と出逢う。<br />
      彼らの " 美学 " は少しずつ違うが、<br
        class="block md:hidden"
      />目指す理想は同じ――
    </p>
    <p class="text-center text-2xl mx-2">
      すべての " 美 " が、 " 表現 " される<br class="block md:hidden" />世界だッ
      !
    </p>
    <p class="text-center pb-4 mx-2">
      これは――すべての人間に捧ぐ、<br class="block md:hidden" /> " 美学 " ノベルゲームである。
    </p>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-[#39ff14] text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="characters"
    >
      <span class ="flex border-3 border-[#cfaa01] border-style-solid pl-4 rounded-l-2xl pr-4 rounded-r-2xl shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_4px_#ff0,0_0_10px_#ff0]
">
        <span class="blinking-text-3">C</span>
        <span class="">HARA</span>
        <span class="blinking-text-4">C</span>
        <span class="">TER</span>
        <span class="blinking-text-5">S</span>
      </span>
    </h2>

    <!-- キャラクター選択 -->
    <FicusCharacterIntroduction client:load characters={optimizedCharacters} />
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto mt-8 w-full lg:w-60% h-auto font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-[#9457eb] text-4xl py-4 flex justify-center scroll-mt-28"
      id="product"
    >
      <span class="flex border-3 border-[#008443] border-style-solid pl-4 rounded-l-2xl pr-4 rounded-r-2xl shadow-[0_0_1px_#fff,inset_0_0_1px_#fff,0_0_3px_#0f0,0_0_10px_#0f0]">
        <span class="">PROD</span>
        <span class="blinking-text-6">U</span>
        <span class="blinking-text-7">C</span>
        <span class="">T</span>
      </span>
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 place-items-top">
      {
        productInfo.map((item) => (
          <div class="mb-6 md:mx-0 sm:mx-auto">
            <p class="font-shippori font-bold my-0 mx-2">
              {item.label}
            </p>
            <p
              class={`font-shippori font-bold text-center m-0 ${
                item.label === "タイトル"
                  ? "text-3xl"
                  : item.label === "発売予定日"
                    ? ""
                    : "text-2xl"
              }`}
            >
              {item.value}
            </p>
            {item.subValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subValue}
              </p>
            )}
            {item.subsubValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subsubValue}
              </p>
            )}
          </div>
        ))
      }
    </div>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto mt-8 w-full lg:w-60% h-auto font-shippori wipe-in">
    <h2
        class="font-lobster text-black text-stroke-1 text-stroke-[#008443] text-4xl py-4 flex justify-center scroll-mt-28"
        id="early-trial"
      >
        <span class="flex border-3 border-[#9457eb] border-style-solid pl-6 rounded-l-2xl pr-6 rounded-r-2xl shadow-[0_0_1px_#fff,inset_0_0_1px_#fff,0_0_3px_#f0f,0_0_10px_#f0f]">
          <span class="">EARLY-TR</span>
          <span class="blinking-text-10">I</span>
          <span class="">AL</span>
        </span>
    </h2>

    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 place-items-top">
      {
        earlyTrialInfo.map((item) => (
          <div class="mb-6 md:mx-0 sm:mx-auto">
            <p class="font-shippori font-bold my-0 mx-2">
              {item.label}
            </p>
            <p
              class={`font-shippori font-bold text-center m-0 ${
                item.label === "タイトル"
                  ? "text-3xl"
                  : item.label === "発売日"
                    ? ""
                    : "text-2xl"
              }`}
            >
              {item.value}
            </p>
            {item.subValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subValue}
              </p>
            )}
            {item.subsubValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subsubValue}
              </p>
            )}
          </div>
        ))
      }
    </div>

    <hr class="w-full" />

    <div class="text-center font-bold">
      <p class="text-2xl">ダウンロードはこちら</p>
        <a
                href="/products/ficus/trial"
                class="px-4 py-4 bg-black bg-opacity-0 text-white hover:bg-opacity-100 border-1 border-white rounded-full border-style-solid font-shippori"
                >DL ページへ</a
        >
    </div>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto mt-8 mb-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-[#fff700] text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="staff"
    >
    <span class="flex border-3 border-[#ff00c8] border-style-solid pl-4 rounded-l-2xl pr-4 rounded-r-2xl shadow-[0_0_1px_#fff,inset_0_0_1px_#fff,0_0_3px_#ff69b4,0_0_10px_#ff69b4]">
      <span class="">STA</span>
      <span class="blinking-text-8 ">F</span>
      <span class="blinking-text-9 ">F</span>
    </span>
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 gap-4 place-items-top">
      {
        staffInfo.map((item) => (
          <div class="mb-6 md:mx-0 sm:mx-auto">
            <p class="font-shippori font-bold mx-4 my-0">{item.label}</p>
            {item.label === "プログラム" && item.value.length > 3 ? (
              <div class="grid grid-cols-2 grid-rows-3 gap-2">
                {item.value.map((person) => (
                  <p class="font-shippori font-bold text-center m-0">{person}</p>
                ))}
              </div>
            ) : (
              item.value.map((person) => (
                <p class="font-shippori font-bold text-2xl text-center m-0">{person}</p>
              ))
            )}
          </div>
        ))
      }
    </div>
  </div>

  <!--
        <p class="text-3xl">ダウンロード購入ページ</p>
        <hr class="w-100 ml-0 mr-auto" />

        <div class="grid grid-rows-3 grid-cols-1 place-contents-center place-items-center w-fill">
          <div class="flex w-200 gap-20 pt-10 pb-10 m-4 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Booth</button>
            <div class="flex-col">
              <p class="text-2xl pb-5">Boothでの購入ページはこちら</p>
              <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Fanza</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">Fanzaでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">DLsite</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">DLsiteでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</BaseLayout_Ficus>

<script>
  import { animate, stagger, inView } from "motion";

  const opacity = [0, 6, 0, 6, 0, 6, 0, 6, 0.6, 1, 1, 1, 1, 1];

  const shuffleArray = (array) => {
    const cloneArray = [...array];

    for (let i = cloneArray.length - 1; i >= 0; i--) {
      let rand = Math.floor(Math.random() * (i + 1));
      let tmpStorage = cloneArray[i];
      cloneArray[i] = cloneArray[rand];
      cloneArray[rand] = tmpStorage;
    }

    return cloneArray;
  };

  for (let i = 0; i < 10; i++) {
    inView(`.blinking-text-${i + 1}`, (element) => {
      animate(
        element,
        { opacity: shuffleArray(opacity) },
        {
          duration: 0.5,
          repeat: Infinity,
          delay: stagger(0.5, { from: "center" }),
        },
      );
    });
  }

  inView(".wipe-in", (info) => {
    animate(
      info,
      { opacity: [0, 1], y: [20, 0] },
      { duration: 0.8, easing: "ease-out" },
    );
  });

  inView(".fade-in", (info) => {
    animate(info, { opacity: [0, 1] }, { duration: 3.0, easing: "ease-in" });
  });
</script>
