---
import BaseLayout_Ficus from "../../layouts/BaseLayout_Ficus.astro";
import "../../styles/global.css";
import BackToTopButton from "../../components/BackToTopButton.astro";
import FicusNewsContent from "../../components/FicusNewsContent.astro";
import ficus_logo from "../../assets/ficus/ficus_logo.svg";
import { Picture } from "astro:assets";
import FicusCharacterIntroduction from "../../components/FicusCharacterIntroduction";

interface allNews {
  title: string;
  date: string;
  href?: string;
}

const newses: allNews[] = [
  {
    title: "作品特設ページを開設しました！",
    date: "2025/09/13",
  },
];

const characters = [
  {
    name: "睦吏",
    nameEn: "mutsuri",
    image: "/src/assets/ficus/mutsuri.png",
    voice: "Coming Soon...",
    description:
      "主人公。女神の導きで「美」に目覚め、決起を呼びかけるが、当然の如く投獄されてしまう。そこで出逢った蛇羅や仁弖と共に監獄を脱し、「美」の「表現の自由」を求める反体制組織を設立。しかしそれは、血みどろの、正邪ゆらめく、謀略はびこる戦いの幕開けに過ぎなかった。",
  },
  {
    name: "波々 衣撫",
    nameEn: "ibu",
    image: "/src/assets/ficus/ibu.png",
    voice: "Coming Soon...",
    description:
      "何を考えているかわからない、不思議ちゃん系の女の子。路地裏で強姦されている所を、睦吏たちが助け、反体制組織に引き入れる。特異な体質であり、しかもそれは体制を倒す鍵だと言うが...... !?",
  },
  {
    name: "亞國 蛇羅",
    nameEn: "jala",
    image: "/src/assets/ficus/jala.png",
    voice: "Coming Soon...",
    description:
      "荒れた口調で、鞭を変幻自在に振るう男。睦吏と牢屋仲間になり、唆して共に脱獄する。体制に復讐する為の手段として、ロウソクや鞭打ちに固執するが、その真意とは――",
  },
  {
    name: "一之瀬 仁弖",
    nameEn: "nite",
    image: "/src/assets/ficus/nite.png",
    voice: "Coming Soon...",
    description:
      "武者口調で、刀や剣、銃を器用に操る男。本人は「侍」と呼ばれると怒る。睦吏と牢屋仲間になり、唆して共に脱獄する。戦闘で無類の強さを誇る一方で、体制側の管理番号 13 番に固執するが、その理由とは――",
  },
  {
    name: "シカ",
    nameEn: "deer",
    image: "/src/assets/ficus/deer.png",
    voice: "Coming Soon...",
    description:
      '人間と鹿のハーフ。睦吏を父と呼び慕う。睦吏と共に収監されるが、脱獄で大きな役割を果たす。「人間を知りたい」と言い、睦吏ら人間が " 美 " と " 表現 " に固執する理由を追い求める。',
  },
  {
    name: "管理番号 13 番",
    nameEn: "dasi",
    image: "/src/assets/ficus/dasi.png",
    voice: "Coming Soon...",
    description:
      "体制側の一番隊、斬り込み隊長。メイド服を着用している。如何なる状況でも厳しい表情を崩さず、大剣を振るって敵を成敗する。だが、仁弖を見てから、一つの葛藤が自分の内に湧き上がるのを感じていた――",
  },
  {
    name: "マビー・フェッツ",
    nameEn: "fetz",
    image: "/src/assets/ficus/fetz.png",
    voice: "Coming Soon...",
    description:
      "体制側の第 3 代総帥。本人は武官出身であるため、戦闘能力に優れており、総帥にもかかわらず突出しがちである。管理番号 13 番から崇敬される良き上司であったが、脱獄をきっかけにその関係性は変化する――",
  },
];

const characterButtonActiveClasses = "opacity-80";
const characterButtonInactiveClasses = "border-gray-500";

const productInfo = [
  {
    label: "タイトル",
    value: "イチジクの葉",
    subValue: "-The Leaf of Ficus Caricature-",
  },
  { label: "ジャンル", value: "美学 ADV" },
  { label: "ブランド", value: "Astroth" },
  { label: "レーティング", value: "18 歳以上" },
  {
    label: "発売予定日",
    value: "体験版 : 2025 年 11 月 02 日",
    subValue: "パッケージ版 : 2025 年 12 月 31 日",
    subsubValue: "DL 版 : 2026 年 01 月 01 日",
  },
  { label: "価　格", value: "1,000 円" },
];

const staffInfo = [
  { label: "原作", value: ["涅槃明日太郎"] },
  { label: "脚本", value: ["紅 坂 篤 樹"] },
  { label: "美術", value: ["R O N", "N E N E", "N O R A"] },
  { label: "音楽", value: ["彩 峰 冬 総", "keppekigirl"] },
  {
    label: "プログラム",
    value: [
      "彩 峰 黎 斗",
      "こんそめ大法官",
      "n a g i",
      "ぬか床",
      "キュビット",
      "に ゐ つ",
    ],
  },
  { label: "スクリプト", value: ["彩 峰 黎 斗"] },
  { label: "テクニカルアドバイザー", value: ["Clover_Midori"] },
  { label: "広報", value: ["N E N E", "彩 峰 兼 続"] },
  { label: "プロデューサー", value: ["彩 峰 慶 次"] },
  { label: "監督", value: ["彩 峰 鋼 一"] },
  { label: "製作総指揮", value: ["A K 4 7"] },
];

const titleItem = productInfo.find((item) => item.label === "タイトル");

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/ficus/**/*.{jpeg,jpg,png,gif,svg}",
);
---

<BaseLayout_Ficus pageTitle="イチジクの葉 | Astroth">
  <BackToTopButton />
  <div class="flex justify-center">
    <Picture src={ficus_logo} alt="" class="w-full px-10" priority />
  </div>

  <p
    class="my-0 text-5xl md:text-7xl xl:text-9xl font-shippori font-extrabold flex justify-center fade-in"
  >
    <span>審美</span>
    <span class="m-0">、</span>
    <span class="text-rose-6">開</span>
    <span>眼</span>
  </p>

  <div class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in" id="news" />

  <h2
      class="font-lobster text-black text-stroke-1 text-stroke-pink-6 text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="story"
    >
      <span>NEW</span>
      <span class="blinking-text-4">S</span>
    </h2>
  
  <div class="w-full h-32 lg:w-60% mx-auto border-2 border-y-dark-1 border-l-[#207c3a] border-r-0 border-style-solid  overflow-y-scroll news-scrollbar" id="news-scroll">
    <FicusNewsContent>2025/09/13&emsp;作品特設ページを開設しました !</FicusNewsContent>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% h-auto font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-pink-6 text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="story"
    >
      <span class="blinking-text-4">S</span>
      <span>TORY</span>
    </h2>
    <p class="text-center text-2xl font-bold mx-2">
      ――俺は作りたいんだ !<br />誰もが、自己を表現できる<br
        class="block md:hidden"
      />世界をッ…… !
    </p>
    <p class="text-center mx-2">
      あらゆる " 表現 " が消し去られた、<br class="block md:hidden" />西暦 2030
      年の冬。<br />
      生きる目的を失った人間たちだったが、<br class="block md:hidden" />その中に
      " 表現 " 復活への希望の火が灯った。<br />
      主人公・<b>睦吏</b>は、女神・<b>衣撫</b>に導かれ、<br
        class="block md:hidden"
      />睦吏を父と慕う人間とシカのハーフ・<b>幹利</b>や、<br />
      " 表現 " のある世界を望む同志・<b>蛇羅</b>、<b>仁弖</b>と出逢う。<br />
      彼らの " 美学 " は少しずつ違うが、<br
        class="block md:hidden"
      />目指す理想は同じ――
    </p>
    <p class="text-center text-2xl mx-2">
      すべての " 美 " が、 " 表現 " される<br class="block md:hidden" />世界だッ
      !
    </p>
    <p class="text-center pb-4 mx-2">
      これは――すべての人間に捧ぐ、<br class="block md:hidden" /> " 美学 " ノベルゲームである。
    </p>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-cyan text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="characters"
    >
      <span class="blinking-text-1">C</span>
      <span>HARA</span>
      <span class="blinking-text-2">C</span>
      <span>TER</span>
      <span class="blinking-text-3">S</span>
    </h2>

    <!-- キャラクター選択 -->
    <FicusCharacterIntroduction client:load characters={characters} />
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto mt-8 w-full lg:w-60% h-auto font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-pink-6 text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="product"
    >
      <span>PROD</span>
      <span class="blinking-text-4">U</span>
      <span class="blinking-text-5">C</span>
      <span>T</span>
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 place-items-top">
      {
        productInfo.map((item) => (
          <div class="mb-6 md:mx-0 sm:mx-auto">
            <p class="font-ibm font-bold m-0 text-center mx-2 mb-1">
              {item.label}
            </p>
            <p
              class={`font-shippori font-bold text-center m-0 ${
                item.label === "タイトル"
                  ? "text-3xl"
                  : item.label === "発売予定日"
                    ? ""
                    : "text-2xl"
              }`}
            >
              {item.value}
            </p>
            {item.subValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subValue}
              </p>
            )}
            {item.subsubValue && (
              <p class="font-shippori font-bold text-center m-0">
                {item.subsubValue}
              </p>
            )}
          </div>
        ))
      }
    </div>
  </div>

  <div
    class="h-16 w-0 border-1 border-dark-1 border-style-solid mx-auto my-4 wipe-in"
  >
  </div>

  <div class="mx-auto w-full lg:w-60% font-shippori wipe-in">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-cyan text-center text-4xl py-4 flex justify-center scroll-mt-28"
      id="staff"
    >
      <span class="m-0">STA</span>
      <span class="m-0 blinking-text-1">F</span>
      <span class="m-0 blinking-text-2">F</span>
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 gap-4 place-items-top">
      {
        staffInfo.map((item) => (
          <div class="mb-6 md:mx-0 sm:mx-auto">
            <i class="font-mplus font-bold mx-4 mt-0 mb-1">{item.label}</i>
            {item.label === "プログラム" && item.value.length > 3 ? (
              <div class="grid grid-cols-2 grid-rows-3 gap-2">
                {item.value.map((person) => (
                  <p class="font-mplus text-center m-0">{person}</p>
                ))}
              </div>
            ) : (
              item.value.map((person) => (
                <p class="font-mplus text-2xl text-center m-0">{person}</p>
              ))
            )}
          </div>
        ))
      }
    </div>
  </div>

  <!--
        <p class="text-3xl">ダウンロード購入ページ</p>
        <hr class="w-100 ml-0 mr-auto" />

        <div class="grid grid-rows-3 grid-cols-1 place-contents-center place-items-center w-fill">
          <div class="flex w-200 gap-20 pt-10 pb-10 m-4 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Booth</button>
            <div class="flex-col">
              <p class="text-2xl pb-5">Boothでの購入ページはこちら</p>
              <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Fanza</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">Fanzaでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">DLsite</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">DLsiteでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</BaseLayout_Ficus>

<script>
  import { animate, stagger, inView } from "motion";

  const opacity = [0, 6, 0, 6, 0, 6, 0, 6, 0.6, 1, 1, 1, 1, 1];

  const shuffleArray = (array) => {
    const cloneArray = [...array];

    for (let i = cloneArray.length - 1; i >= 0; i--) {
      let rand = Math.floor(Math.random() * (i + 1));
      let tmpStorage = cloneArray[i];
      cloneArray[i] = cloneArray[rand];
      cloneArray[rand] = tmpStorage;
    }

    return cloneArray;
  };

  for (let i = 0; i < 4; i++) {
    inView(`.blinking-text-${i + 1}`, (element) => {
      animate(
        element,
        { opacity: shuffleArray(opacity) },
        {
          duration: 0.5,
          repeat: Infinity,
          delay: stagger(0.5, { from: "center" }),
        },
      );
    });
  }

  inView(".wipe-in", (info) => {
    animate(
      info,
      { opacity: [0, 1], y: [20, 0] },
      { duration: 0.8, easing: "ease-out" },
    );
  });

  inView(".fade-in", (info) => {
    animate(info, { opacity: [0, 1] }, { duration: 3.0, easing: "ease-in" });
  });
</script>
