---
import "@unocss/reset/sanitize/sanitize.css";
import "@unocss/reset/sanitize/assets.css";
import "../styles/global.css";
import Header_Ficus from "../components/Header_Ficus.astro";
import Footer from "../components/Footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import ficus_logo from "../assets/ficus/ficus_logo.svg";
import ficus_logo_webp from "../../public/assets/ficus/ficus_logo.webp";

const links = [
  { href: "#news", name: "NEWS" },
  { href: "#story", name: "STORY" },
  { href: "#characters", name: "CHARACTERS" },
  { href: "#product", name: "PRODUCT"},
  { href: "#staff", name: "STAFF"},
]

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href={ficus_logo.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="description" content="Astroth 処女作『イチジクの葉』作品特設ページです。 2025 年冬、発売予定！" />
		<meta name="keyword" content="Astroth アストロット サウンドノベル 'Sound Novel' ビジュアルノベル 'Visual Novel' VN ノベルゲーム 'Novel Game' 美少女ゲーム エロゲーム 同人ゲーム 同人ソフト 同人サークル イチジクの葉 'The Leaf of Ficus Caricature' 美学 表現の自由 表現規制" />
		<meta name="theme-color" content="rgb(32, 124, 58)" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:site_name" content="『イチジクの葉』作品特設ページ" />
		<meta property="og:title" content="『イチジクの葉』作品特設ページ | Astroth" />
		<meta property="og:description" content="Astroth 処女作『イチジクの葉』作品特設ページです。 2025 年冬、発売予定！" />
		<meta
		property="og:image"
		content={ficus_logo_webp.src}
		/>
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1080" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.astroth-soft.com/products/ficus" />
		<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Astroth_soft" />
    <meta name="twitter:creator" content="@ast_ak47" />
    <title>{pageTitle}</title>
    <style>
      html {
        background-color: black;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body
    class="bg-black text-white font-ibm m-0 p-0"
    style="display: none;"
    id="main-body"
  >
    <SmoothScroll>
      <Header_Ficus linkNames={links} />
      <div class="pt-35">
        <slot />
      </div>
      <Footer />
    </SmoothScroll>
  </body>
</html>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    if (window.location.pathname === "/verify-age") {
      return;
    }

    if (localStorage.getItem("isVerified") !== "true") {
      const currentUrl = encodeURIComponent(window.location.href);
      window.location.href = `/verify-age?r=${currentUrl}`;
    } else {
      // 年齢確認済みの場合のみコンテンツを表示
      document.getElementById("main-body")!.style.display = "block";
    }
  });
</script>
