---
import "@unocss/reset/sanitize/sanitize.css";
import "@unocss/reset/sanitize/assets.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import HeaderWrapper from "../components/HeaderWrapper.astro";
import astroth_logo from "../assets/astroth_logo.png";
import branding from "../../public/assets/branding.png";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={astroth_logo.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="description" content="Astroth ブランド公式 Web サイトです。処女作『イチジクの葉』 2025 年冬、発売予定！" />
		<meta name="keyword" content="Astroth アストロット サウンドノベル 'Sound Novel' ビジュアルノベル 'Visual Novel' VN ノベルゲーム 'Novel Game' 美少女ゲーム エロゲーム 同人ゲーム 同人ソフト 同人サークル" />
		<meta name="theme-color" content="rgb(39, 189, 255)" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:site_name" content="Astroth ブランド公式 Web サイト" />
		<meta property="og:title" content="Astroth ブランド公式 Web サイト" />
		<meta property="og:description" content="Astroth ブランド公式 Web サイトです。処女作『イチジクの葉』 2025 年冬、発売予定！" />
		<meta
		property="og:image"
		content={branding.src}
		/>
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1080" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.astroth-soft.com" />
		<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Astroth_soft" />
    <meta name="twitter:creator" content="@ast_ak47" />
    <title>{pageTitle}</title>
    <style>
      html {
        background-color: black;
      }
    </style>
  </head>
  <body
    class="bg-black text-white font-ibm m-0 p-0"
    style="display: none;"
    id="main-body"
  >
    <SmoothScroll>
      <HeaderWrapper />
      <div class="pt-35">
        <slot />
      </div>
      <Footer />
    </SmoothScroll>
  </body>
</html>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    if (window.location.pathname === "/verify-age") {
      return;
    }

    if (localStorage.getItem("isVerified") !== "true") {
      const currentUrl = encodeURIComponent(window.location.href);
      window.location.href = `/verify-age?r=${currentUrl}`;
    } else {
      // 年齢確認済みの場合のみコンテンツを表示
      document.getElementById("main-body")!.style.display = "block";
    }
  });
</script>
