---
import "@unocss/reset/sanitize/sanitize.css";
import "@unocss/reset/sanitize/assets.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import Heading from "../components/Heading.astro";
import HeaderWrapper from "../components/HeaderWrapper.astro";
import astroth_logo from "../assets/astroth_logo.png";
import RoundedButton from "../components/RoundedButton.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL('/assets/branding.png', Astro.url);
---

<html lang="ja">
  <head prefix="https://ogp.me/ns#">
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={astroth_logo.src} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="description" content="Astroth ブランド公式 Web サイトです。処女作『イチジクの葉』 2025 年冬、発売予定！" />
		<meta name="keyword" content="Astroth アストロット サウンドノベル 'Sound Novel' ビジュアルノベル 'Visual Novel' VN ノベルゲーム 'Novel Game' 美少女ゲーム エロゲーム 同人ゲーム 同人ソフト 同人サークル" />
		<meta name="theme-color" content="rgb(39, 189, 255)" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:site_name" content="Astroth ブランド公式 Web サイト" />
		<meta property="og:title" content="Astroth ブランド公式 Web サイト" />
		<meta property="og:description" content="Astroth ブランド公式 Web サイトです。処女作『イチジクの葉』 2025 年冬、発売予定！" />
		<meta
		property="og:image"
		content={socialImageURL}
		/>
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1080" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.astroth-soft.com" />
		<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Astroth_soft" />
    <meta name="twitter:creator" content="@ast_ak47" />
    <title>{pageTitle} | Astroth</title>
  </head>
  <body class="bg-black text-white font-ibm m-0 p-0">
    <SmoothScroll>
      <HeaderWrapper />
      <div class="pt-35">
        <Heading text="NEWS" />
        <div
          class="mx-auto w-full xl:w-60% bg-dark-4 px-16 py-4 mt-8 border-y-1 border-x-0 border-dark-1 border-style-solid"
        >
          <slot />
        </div>
      </div>
      <a href="/news" class="grid place-content-center place-items-center my-8"><RoundedButton>BACK TO NEWS LIST</RoundedButton></a>
      <Footer />
    </SmoothScroll>
  </body>
</html>
